<section class="h-100vh d-flex align-items-center justify-content-center bg-body-secondary">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-12 mx-auto">
                <div class="card shadow">
                    <div class="card-header">
                        <h2 class="text-center">Signup</h2>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="signupForm" (ngSubmit)="signup()">
                            <div class="mb-4 position-relative">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" id="username" class="form-control" formControlName="username" />
                                <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" class="text-danger position-absolute">
                                    Username is required.
                                </div>
                            </div>
                            <div class="mb-4 position-relative">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" class="form-control" formControlName="password" />
                                <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger position-absolute">
                                    Password is required.
                                </div>
                            </div>
                            <div *ngIf="successMessage" class="alert alert-success">
                                {{ successMessage }}
                            </div>
                            <button type="submit" class="btn btn-primary w-100 mt-2" [disabled]="signupForm.invalid">Signup</button>
                            <p class="mt-3 text-center">
                                Already have an account? <a routerLink="/login">Login</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>
